{
  "Version": "2012-10-17",
  "Statement": [{
      "Sid": "Enable IAM permissions only for administration of the key",
      "Effect": "Allow",
      "Principal": {
        "AWS": ${admin_principals}
      },
      "Action": [
        "kms:Update*",
        "kms:UntagResource",
        "kms:TagResource",
        "kms:ScheduleKeyDeletion",
        "kms:Revoke*",
        "kms:Put*",
        "kms:List*",
        "kms:Get*",
        "kms:Enable*",
        "kms:Disable*",
        "kms:Describe*",
        "kms:Delete*",
        "kms:Create*",
        "kms:CancelKeyDeletion"
      ],
      "Resource": "*"
    },
    {
      "Sid": "Allow use of the key only to the deployment role and instance roles",
      "Effect": "Allow",
      "Principal": {
        "AWS": ${user_principals}
      },
      "Action": [
        "kms:ReEncrypt*",
        "kms:GenerateDataKey*",
        "kms:Encrypt",
        "kms:DescribeKey",
        "kms:Decrypt"
      ],
      "Resource": "*"
    }
  ]
}